.home-img {
    background-image: url("../img/garden1b.jpeg");
    filter: blur(3px) contrast(70%) brightness(120%) saturate(150%);
    height: 100%;
}

.home-img-container {
    height: calc(100vh - 150px - var(--header-height));
}

.header-top {
    height: 150px;
}

.footer {
    background-color: var(--tertiary, #444);
    font-weight: lighter;
    font-size: 0.8rem;
    flex-direction: column;
    letter-spacing: 0.2rem;
    /* color: var(--light-gray); */
}