* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; }

.theme {
    --primary: #079;
    --tertiary: #444;
    --col: #fff;
    --font: 'Raleway', sans-serif;
    --light-gray: #ddd;

    font-family: var(--font);
    color: var(--tertiary);
    line-height: 1.7em;
    letter-spacing: 0.1rem;
}

.responsive {
    /* Changes with viewport */
    --header-height: 60px;
}

.dark-element {
    --bg: var(--primary, #555);
    --text: #fff;
    --shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
              0px 4px 5px 0px rgba(0,0,0,0.14), 
              0px 1px 10px 0px rgba(0,0,0,0.12);

    background-color: var(--bg);
    color: var(--text);
}

.emphasize {
    color: var(--primary);
    font-weight: bold;
}

.indent {
    margin-right: 0.5in;
}

/* .wrapper {
    position: relative;
} */

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-col {
    flex-direction: column;
}

.space-evenly {
    justify-content: space-evenly;
}

.element {
    width: 100%;
    max-width: 400px;
}

.padded {
    padding: 15px;
}

.padded-below {
    padding-bottom: 15px;
}

.padded-text {
    padding: 0.3rem 0;
}

.margin-above {
    margin-top: 0.8rem;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

.link {
    text-decoration: none;
    color: unset;
    position: cursor;
    outline: none;
}

.form {
    align-items: flex-start;
    margin: 0;
    max-width: 30rem;
}

.input {
    padding: 0.8rem 0.5rem;
    border: 0.1rem solid var(--light-gray);
}

.input:focus {
    border-color: var(--primary);
}

.btn {
    padding: 0.7rem 1.5rem;
    background-color: var(--primary);
    color: var(--col);
    border: none;
    outline: none;
}

.header {
    background-color: var(--bg);
    color: var(--text);
    box-shadow: var(--shadow);
    height: var(--header-height, 70px);
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: nowrap;
}

.nav-text {
    padding: 10px;
    font-size: 0.8em;
    color: var(--light-gray);
    --active: #fff;
}

.active {
    color: var(--active);
    font-weight: bold;
}

.hidden {
    opacity: 0;
}

.fade-in {
    animation: fade-in ease 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@media (min-width: 500px) {
    .responsive {
        --header-height: 65px;
    }
    .header {
        justify-content: center;
    }
    .nav-text {
        margin-right: 8vw;
        letter-spacing: 0.2rem;
    }
}
